@model IEnumerable<SupportCore.Models.Form>

@{
    Layout = null;
}
<h2 class="text-light">Формы <span class="mif-insert-template place-right"></span></h2>

<hr class="thin bg-grayLighter">
<a asp-action="Create"
   data-ajax="true"
   data-ajax-method="GET"
   data-ajax-update="#cell-content"
   data-ajax-mode="update"
   class="button primary">
    <span class="mif-plus"></span> Добавить...
</a>
<hr class="thin bg-grayLighter">
<table class="dataTable dataTable table-border compact cell-border striped">
    <thead class="bg-darkCyan fg-white">
        <tr>
            <th width="5%">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th width="7%"></th>
        </tr>
    </thead>
    <tbody>
 @foreach (var item in Model)
 {
     bool sys = true;
     if (item.Type == 1) { sys = false; }
      <tr @if(sys) { @:style="font-weight:bold" 
          } >
           <td align="center">
                @if (sys)
            {<span class="mif-security"></span>}
            </td>
           <td>
               @Html.DisplayFor(modelItem => item.Name)
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                <div class="dropdown-button">
                    <button class="button small dropdown-toggle secondary outline">Действия   </button>
                    <ul class="d-menu context" data-role="dropdown">
                        <li>
                            <a asp-action="Edit"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-update="#cell-content"
                               data-ajax-mode="update"
                               asp-route-id="@item.Id" title="Редактировать"><span class="mif-pencil icon"></span>Изменить</a>
                        </li>
                        @if (!sys) { 
                            <li>
                                <a href="#"
                                   title="Удалить" onclick="openCustomDialog('/Forms/Delete/@item.Id','Удалить',end)"><span class="mif-bin icon"></span>Удалить</a>
                            </li>
                        }
                    </ul>
                </div>


                @*<a asp-action="Edit"
                   data-ajax="true"
                   data-ajax-method="GET"
                   data-ajax-update="#cell-content"
                   data-ajax-mode="update"
                   asp-route-id="@item.Id" title="Редактировать"><span class="mif-pencil"></span></a>
                @if (!sys)
            {
                @:| <a href="#" title="Удалить" onclick="openCustomDialog('/Forms/Delete/@item.Id','Удаление', end)"><span class="mif-bin"></span></a>
        }*@
            </td>
        </tr>
 }
    </tbody>
</table>
<script>
 $(function () {
     FormsTable = SimpleTableReady();
    })
</script>