        <div class="grid">
            <div class="row">
                @foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForDisplay))
                {
                    if ((prop.TemplateHint == "AdminField") && (!User.IsInRole("Администратор")))
                    {
                        @Html.Hidden(prop.PropertyName);
                        continue;
                    }
                    if (prop.HideSurroundingHtml)
                    {
                        @Html.Hidden(prop.PropertyName);
                    }
                    else
                    {
                        @if (prop.IsComplexType)
                        {
                            <div class="cell-6">
                                <label>@prop.GetDisplayName()</label>
                                @Html.DropDownList(prop.PropertyName)
                            </div>
                        }
                        else
                        {
                            <div class="cell-6">
                                @if(prop.ModelType.IsGenericType) { 
                                    <label>@prop.GetDisplayName()</label> 
                                }
                                @Html.Editor(prop.PropertyName)
                            </div>
                        }

                    }
                }
            </div>
          </div>