@model SupportCore.Models.TicketThread

<form asp-action="Create" id="CreateThread" class="p-6-md"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-success="onSuccess"
      data-ajax-failure="onError(c)"
      data-ajax-loading="#eventPreloader"
      data-ajax-begin="disableButton">
    <h5><label asp-for="Body"></label></h5>
    <hr class="thin bg-grayLighter" />
    <button type="submit" class="button primary" id="tThreadCreate"><span class="mif-floppy-disk"></span> Сохранить</button>
    <label class="checkbox">
        <input name="isInform" type="checkbox" checked value="true">
        <span class="check"></span>
        <span class="caption">Информировать пользователя</span>
    </label>
    <div id="eventPreloader" style="display:none">
        <div data-role="activity" data-type="metro" data-style="dark"></div>
    </div>
    <hr class="thin bg-grayLighter" />
    @await Component.InvokeAsync("Template", new { Event = ViewBag.Event })
    <textarea asp-for="Body" id="Body" style="width:54em" />
    <span asp-validation-for="Body"></span>
    <input asp-for="TicketId" hidden />
    <input asp-for="Type" hidden />
    <input name="Event" value="@ViewBag.Event" hidden />
    <input name="table" value="@ViewBag.table" hidden />
    <hr class="thin bg-grayLighter" />
</form>
<script>
    $(function () {
        var editor = $('#Body').trumbowyg(
            {
                lang: 'ru',
                resetCss: true,
                btns: [
                    ['undo', 'redo'], // Only supported in Blink browsers
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['insertImage'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['horizontalRule'],
                    ['removeformat'],
                ],
            });
        getTemplate(editor);
        var form = $.validator.unobtrusive.parse('#CreateThread');
    })

    var onSuccess = function (context) {
        closeWin();
        if (context == 'OK') {
            if (@ViewBag.Event == 4) {
                url = '@Url.Action("Edit", "Tickets", new { id = Model.TicketId })';
                ticketSave(url);
            } else {
                ReloadTable();
            }
        } else {
            //document.getElementById('cell-content').innerHTML = context;
            $('#cell-content').html(context);
        }
    };
    function getTemplate(editor) {
        var TemplateId = document.getElementById("TemplateId").value;
        url = '@Url.Action("GetTemplate","Templates",new {Model.TicketId })' + '&id=' + TemplateId;
        //console.log(url);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText)

                if (this.responseText == 'empty') {
                    $('#Body').trumbowyg(this.responseText)
                } else {
                    $('#Body').trumbowyg('html', this.responseText);
                }
               }
        };
        xhttp.open("GET",url, true);
        xhttp.send();
    }
    function disableButton() {
        var submit = document.getElementById("tThreadCreate")
        submit.disabled = "disabled"
    }
</script>