@model IEnumerable<SupportCore.Models.TicketThread>

@if(ViewBag.Edit!=null){
<div class="pb-3">
    <a class="button primary" data-role="button" href="#" onclick="openCustomWin('/TicketThreads/Create/@Model.FirstOrDefault().TicketId?Type=1&Event=0','mif-plus','Комментарий',true)">
        <span class="mif-plus"></span>  Добавить...
    </a>
</div>
}


@foreach (var item in Model)
{
    <div data-role="panel"
         data-title-caption="@item.DateCreate<div class='pos-absolute pos-right-center p-2'>@item.Poster: @item.Title</div>"
        >
         @*<div class="title">
            <span class="right">@item.DateCreate</span>
            <span class="title-right">@item.Poster: @item.Title</span>
        </div>*@
        <div class="content">
            <div class="text-leader2">
                @Html.Raw(item.Body)
                @if (User.IsInRole("Администратор") || User.IsInRole("Менеджер"))
                {
                <div class="text-right">
                    <a href="#" onclick="openCustomWin('/TicketThreads/Edit/@item.Id','mif-pencil','Редактирование',true)"><span class="mif-pencil"></span></a> |
                    <a href="#" onclick="openCustomDialog('/TicketThreads/Delete/@item.Id','Удалить',end)"><span class="mif-bin"></span></a>
                </div>
                }
            </div>
        </div>
    </div>
}


