@model SupportCore.Models.Tasks
<div class="p-4-md" style="max-width:920px">
    <h5>Задача @Model.Id </h5>
    <hr class="thin bg-grayLighter" />
        <dl>
            <dt><label asp-for="Title"></label></dt>
            <dd>@Model.Title</dd>
        </dl>
        <div class="row">
            <div class="cell-md-4">
                <dl>
                  <dt><label asp-for="Number"></label></dt>  
                   <dd class="text-ellipsis" style="max-width:200px">@Html.DisplayFor(model=>model.Number)</dd>
                </dl>
                <span asp-validation-for="Number"></span>
            </div>
            <div class="cell-md-4">
                <dl>
                    <dt><label asp-for="StaffId"></label></dt>
                    <dd>@Model.Staff?.Name</dd>
                </dl>
            </div>
            <div class="cell-md-4">
                <dl>
                    <dt><label asp-for="OrganizationId"></label></dt>
                    <dd>@Model.Organization?.Name</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <dl>
                <dt><label asp-for="Body"></label></dt>
                <dd>@Html.DisplayFor(model => model.Body)</dd>
            </dl>
        </div>
</div>
