@model IEnumerable<SupportCore.Models.Ticket>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StatusId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SourceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Flags)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsOverdue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAnswered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reopened)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Closed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastMessage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastResponse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateUpdate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOverdue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnswered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reopened)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastResponse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
